<!doctype html>
<html>
<head>
    <title>Inspirato Trips Project</title>
    <meta charset="utf-8" />
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style type="text/css">

    </style>    
    <script src="https://unpkg.com/vue@3"></script>
</head>

<body>
<header>
    <h1>Welcome!</h1>
    <p>This is the future landing place of a code test! Please be patient. To take a look at the repo for this very simple code, head to <a href="https://github.com/mmatthews1981/trips">my github repo</a>.</p>
</header>

<main id="app">

    <button v-on:click="toggleSort()" v-if="trips">Sort</button>
    <select v-model="selected" v-if="trips">
        <option value="">All</option>
        <option v-for="option in filterList" v-bind:value="option">{{ option }}</option>
    </select>
    <span v-if="trips">{{ sortOrder?.length }} results</span>

    <article v-if="trips" v-for="(trip, idx) in sortOrder">
        <img v-bind:src="'https://cms.inspirato.com/ImageGen.ashx?image='+trip.heroImage+'&width=200'">
        {{ trip.unitName }}
        {{ trip.unitStyleName }}
        {{ formattedDate(trip.checkInDate) }}
    </article>

</main>
<script>

    Vue.createApp({
      data() {
        return {
          trips: null,
          sortAscending: true,
          selected: ""
        }
      },
      computed: {
        sortedItems() {
            return this.trips?.tripSet.slice()
                .filter((trip) => {return trip.unitStyleName === this.selected || this.selected === ""} )
                .sort((a, b) => new Date(a.checkInDate)- new Date(b.checkInDate));
        },
        reverseSortedItems() {
            return this.trips?.tripSet.slice()
                .filter((trip) => {return trip.unitStyleName === this.selected  || this.selected === ""} )
                .sort((a, b) => new Date(b.checkInDate)- new Date(a.checkInDate));
        },
        sortOrder(){
            return this.sortAscending ? this.sortedItems : this.reverseSortedItems;
        },
        filterList(){
            return [... new Set(this.trips?.tripSet.map(a => a.unitStyleName).sort())];
        },
      },
      methods: {
        formattedDate(raw){
            let date = new Date(raw);
            return date.getFullYear()+'-' + (date.getMonth()+1) + '-'+date.getDate();
        },
        toggleSort() {
            this.sortAscending = !this.sortAscending;
        }

      },
      created() {
        fetch('/trips.json')
            .then(response => response.json())
            .then(response => {this.trips = response});
      }
    }).mount('#app')
</script>
</body>
</html>